#invoice-info {
    .info-section {
        border: 2px solid $color-700;
        max-width: 40rem;
        padding: 1rem 1.5rem;
        margin: 0 auto;

        .info-item {
            display: flex;
            justify-content: space-between;
            width: 14rem;

            .label {
                display: inline-block;
                color: $color-700;
                font-weight: bold;
            }
        }
    }
}