#reservation-overview {

    article {
        max-height: 25rem;
    }

    .left-side {
        background-color: $color-700;
        max-width: 40rem;

        h3 {
            color: $color-grey-300;
        }
    }

    .right-side {
        border: 2px solid $color-700;
        overflow-y: scroll;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        gap: .6rem 5rem;
    }
      
    .grid-row {
        padding: .2rem 2rem;
        grid-column: span 2;
        display: contents;
    }
         
}