#reservation-edit {
    form {
        display: flex;
        padding: 2rem 10rem;
        .left {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            width: 70%;
            min-height: 10rem;
            input {
                width: 30rem;
            }
        }
        .right {
            width: 30%;
            padding: 1rem 1rem 4rem 1rem;
            width: 20rem;
            .room-info {
                min-height: 10rem;
                background-color: $color-700;
            }
            button {
                background-color: $color-white;
                font-size: 0.5rem;
                color: $color-700;
            }
        }
        h2 {
            text-align: left;
        }
        h3 {
            color: $color-grey-600;
        }
    }
}