#reservation-edit {
    form {
        display: flex;
        padding: 2rem 10rem;
        .left {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            width: 70%;
            min-height: 10rem;
            .graybg {
                background-color: $color-grey-600;
            }
            input {
                width: 30rem;
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 2rem;
            width: 30%;
            padding: 1rem 1rem 4rem 1rem;
            .room-info {
                border: 2px solid $color-600;
                background-color: $color-white;
                color: $color-600;
                padding: 0.5rem 2rem;
                height: 23.5rem;
                width: 20rem;
                h2 {
                    font-size: 24px;
                }
            }
            .bluebg {
                background-color: $color-600;
            }
            .delete {
                background-color: #2b50a1;
            }
        }
        h2 {
            text-align: left;
        }
        h3 {
            color: $color-grey-600;
        }
        .button {
            font-size: 0.8rem;
        }
    }
    .fix-right {
            margin: -3rem -10rem 0rem 0rem;
    }
}