#room-edit {

    input[type=checkbox] {
        height: 2rem;
        width: 2rem;
    }

    select {
        display: block;
        width: 100%;
        border-radius: 0;
    }

    .button {
        font-weight: 600;
        height: 45px;
        width: 150px;
    }


}