#room-edit {

    .inline-input {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .input-text {
            width: 6rem;
        }
    }

    .crud-header {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .absolute-right {
            position: absolute;
            right: 0;
        }
    }
}