#room-overview {
    display: flex;
    font-family: sans-serif;
    gap: 4rem;

    .margin-top {
        margin-top: 10px;
    }

    .filter-section {
        background-color: #F5F5F5;
        padding: 1rem 2rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .filter-options {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .filter-row {
            display: flex;
            gap: 1.2rem;
        }

        .filter-item {
            width: min-content;
            min-width: 6rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            white-space: nowrap;
        }

        .filter-input {
            border: solid 2px $color-600;
            width: 4rem;
        }

        .filter-input-wide {
            border: solid 2px $color-600;
            width: 8rem;
        }

        input[type=checkbox] {
            height: 1.6rem;
            width: 1.6rem;
        }
    }

    #rooms-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        .room-item {
            box-shadow: $color-grey-400 2px 2px 5px;
            border: solid 2px $color-600;
            padding: 1rem;

            .room-item-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            &>* {
                margin-block: 0.5rem;
            }
        }
    }

    .left-side {
        flex-grow: 1;
    }

    #details-section {
        flex-grow: 0;

        position: sticky;
        top: 2rem;

        background-color: $color-700;
        color: $color-white;
        width: 25%;
        padding: 1.5rem 2rem;
        height: max-content;
        min-height: 30rem;

        p {
            font-size: 20px;
        }

        .bottom-buttons {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 1rem;
            padding: 2rem 0;
        }

        .details-label {
            color: $color-100;
        }

        #select-room-message {
            display: none;
            color: $color-100;
            text-align: center;
        }

        &.hide-section {
            p {
                display: none;
            }

            div {
                display: none;
            }

            #select-room-message {
                display: block;
            }
        }
    }
}