#user-overview {

    article {
        max-height: 25rem;
    }

    .left-side {
        background-color: $color-700;
        max-width: 15rem;

        h3 {
            color: $color-grey-300;
        }

        form {
            display: flex;
            flex-flow: column nowrap;

            label {
                color: $color-white;
            }

            input[type=text] {
                background-color: $color-white;
                margin-bottom: 1rem;
            }
        }
    }

    .right-side {
        border: 2px solid $color-700;
        display: flex;
        justify-content: space-around;
        overflow-y: scroll;

        .grid-four-columns {
            p {
                text-align: left;
                padding-left: 0.5rem;
            }
        }

        h3 {
            form {
                display: inline-block;

                .submit-container {
                    background-color: $color-700;
                    display: flex;
                    justify-content: center;
                    width: 1.8rem;
                    height: 1.8rem;
                    padding-bottom: 0.1rem;
                    border-radius: 0.5rem;

                    input[type=submit] {
                        font-size: 1.2rem;
                        color: $color-white;

                    }
                }
            }
        }
    }

    .light-text {
        color: $color-100;
    }

    .sort-button {
        cursor: pointer;
    }
}