div {
    border: solid 1px black;
}

#room-create {
    padding: 5rem;
    .container-create {
        margin: 0 auto;
        width: 700px;
        .left {
            display: flex;
            flex-direction: column;
            width: 50%;
        }
        .right {
            width: 50%;

        }
    }
}