#room-overview {
    display: flex;
    font-family: sans-serif;
    padding: 3% 5% 5% 5%;
    gap: 5%;

    .margin-top {
        margin-top: 10px;
    }

    .left-side {
        display: flex;
        flex-direction: column;
        width: 70%;
        gap: 1rem;

        .filter {
            background-color: #F5F5F5;
            height: 100px;
            width:82.5;      
        }
        h2 {
            text-align: center;
            font-size: 50px;
        }
        #rooms-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;

            .room-item {
                box-shadow: $color-grey-400 2px 2px 5px;
                border: solid 2px $color-600;
                padding: 1rem;

                div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
        }
    }

    #details-section {
        background-color: $color-700;
        color: $color-white;
        width: 30%;
        padding: 20px;
        height: max-content;
        min-height: 40rem;

        h2 {
            text-align: center;
            font-size: 38px;
        }

        p {
            font-size: 20px;
        }

        .bottom-buttons {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-weight: 800;
            padding: 2rem 0;
        }

        .details-label {
            color: $color-100;
        }

        #details-info-button {
            text-align: center;
        }
        
        #select-room-message {
            display: none;
            color: $color-100;
            text-align: center;
        }

        &.hidden {
            p {
                display: none;
            }

            div {
                display: none;
            }

            #select-room-message {
                display: inline-block;
            }
        }
    }
}