#room-edit {
    padding: 5rem;

    .three-column-mid-stretch {
        display: grid;
        grid-template-columns: 200px 1fr 200px;
    }

    .edit-room-form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;

        &>* {
            margin-block: 1rem;
            display: flex;
            gap: 1rem;
            flex-direction: column;
            flex-grow: 0;
        }
    }

    .padding-inline-5rem {
        padding-inline: 5rem;
    }

    .delete-form {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    input {
        width: 100%;
    }

    .buttons {
        padding: 5rem;
    }

    .babybed {
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
            height: 2rem;
            width: 2rem;
        }
    }

    .flex-space-between {
        display: flex;
        flex: 0 0 auto;
        justify-content: space-between;
    }



    select {
        display: block;
        width: 100%;
        border-radius: 0;
    }

    .container-edit {

        .delete-button-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 0;
        }

    }

    .buttons,
    .delete-button-container {
        display: flex;
        justify-content: space-between;
        padding: 5rem 5rem 0 5rem;

        .button {
            font-weight: 600;
            height: 45px;
            width: 150px;
        }

        .gray-bg {
            background-color: $color-grey-600;
            color: $color-700;
        }
    }

    #room-edit-description {
        height: 9rem;
    }


}