.main-content {
    width: 100%;
    padding: 2rem 4rem;

    position: relative;
}

.grid-two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.grid-three-columns {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
}

.right-aligned {
    text-align: right;
}

.grid-span-2 {
    grid-column: span 2;
}

.grid-span-3 {
    grid-column: span 3;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-horizontal-gap {
    column-gap: 0;
}

.flex-center {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.flex-space-around {
    display: flex;
    justify-content: space-around;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-flex-end {
    display: flex;
    justify-content: flex-end;
}

.flex-column {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.flex-align-center {
    align-items: center;
}

.flex-grow-1 {
    flex-grow: 1;
}

.margin-block {
    margin-block: 2rem;
}

.padding-1rem {
    padding: 1rem;
}

.padding-block {
    padding-block: 2rem;
}

.padding-inline-1rem {
    padding-inline: 1rem;
}

.padding-inline-5rem {
    padding-inline: 5rem;
}

.white-background {
    background-color: $color-white;
}

.gray-background {
    background-color: $color-grey-300;
}