.primary-button {
    display: block;
    background-color: $color-700;
    color: $color-white;
    width: 150px;
    height: 45px;

    &:hover {
        background-color: $color-700;
        color: $color-white;
    }
}

.secondary-button {
    background-color: $color-white;
    color: $font-color;
    width: 180px;
    height: 30px;
    border: $color-700 3px solid;

    &:hover {
        background-color: $color-white;
        color: $font-color;
        border: $color-700 3px solid;
    }
}

.tertiary-button {
    background-color: $color-white;
    color: $font-color;
    width: 180px;
    height: 30px;

    &:hover {
        background-color: $color-white;
        color: $font-color;
    }

}

.edit-button {
    background-color: $color-700;
    color: $color-white;
    width: 30px;
    height: 30px;

    &:hover {
        background-color: $color-700;
        color: $color-white;
    }
}