    .button {
        display: inline-block;
        font-weight: 600;
        padding: .6rem 2rem;
    }

    .static-size {
        height: 45px;
        width: 150px;
    }

    .primary-button {
        background-color: $color-700;
        color: $color-white;

        // &:hover {
        // what should hover status do?
        // }
    }

    .secondary-button {
        background-color: $color-grey-300;  
        color: $color-700;

        // &:hover {
        // what should hover status do?
        // }
    }

    .tertiary-button {
        background-color: inherit;
        color: $color-700;

        // &:hover {
        // what should hover status do?
        // }
    }

    .edit-button {
        background-color: $color-700;
        color: $color-white;
        width: 30px;
        height: 30px;

        // &:hover {
        // what should hover status do?
        // }
    }