    .button {
        display: inline-block;
        text-align: center;
        font-weight: 600;
        padding: .4rem 2rem;
        transition-property: background-color color;
        transition-duration: 200ms;
    }

    .static-size {
        height: 45px;
        width: 150px;
    }

    .primary-button {
        background-color: $color-700;
        color: $color-white;

        &:hover {
            background-color: $color-800;
        }
    }

    .secondary-button {
        background-color: $color-grey-300;
        color: $color-700;

        &:hover {
            background-color: $color-grey-500;
        }
    }

    .tertiary-button {
        background-color: inherit;
        color: $color-700;

        // &:hover {
        // what should hover status do?
        // }

        &.warning {
            color: $color-warning;
            border: 2px solid $color-warning;

            &:hover {
                background-color: $color-warning;
                color: $color-white;
            }
        }
    }

    .edit-button {
        background-color: $color-700;
        color: $color-white;
        width: 60px;
        height: 30px;
        text-align: center;
        padding: 0.2rem;

        // &:hover {
        // what should hover status do?
        // }
    }

    .delete-confirmation {
        position: absolute;
        background-color: white;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.75);
    }