#header {
    font-weight: 600;
    font-family: sans-serif;

    .top {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        padding: 0 3rem;

        img {
            height: 100px;
            width: 100px;
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color-600;
        color: #fff;
        font-size: 22px;
        height: 60px;

        nav {
            display: flex;
            gap: 100px;
            padding-left: 4rem;
        }

        .logout-link {
            display: flex;
            align-items: center;
            background-color: #2b50a1;
            height: 100%;
            padding: 30px;
        }
    }
}