.input-text {
    background-color: $color-white;
    color: $font-color;

    padding: 4px;

    border: 3px solid $color-grey-400;

    &:focus {
        border-color: $color-400;
    }

    &::placeholder {
        color: $color-grey-400;
    }
}

.filter-field,
.dropdown-select {
    background-color: $color-white;
    color: $color-400;
    border: 3px solid $color-grey-400;
    padding: 0.5rem;

    border-radius: 0.5rem;

    option {
        background-color: $color-white;
        color: $color-400;
        border: 3px solid $color-grey-400;
    }

}

input[type=checkbox] {
    height: 2rem;
    width: 2rem;
}