.delete-confirmation {
    position: absolute;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.75);
}

.cleaning-status-panel {
    position: fixed;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    div {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
        margin-top: 1, 5rem;

        form {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }
    }
}