// Colours
$font-color: #343434;
$color-100: #68b6da;
$color-300: #309bcf;
$color-400: #0084c4;
$color-600: #006ead;
$color-700: #005693;
$color-800: #003c67;
$color-grey-300: #ececec;
$color-grey-400: #e5e5e5;
$color-grey-500: #d9d9d9;
$color-grey-600: #cbcbcb;
$color-grey-700: #686868;
$color-white: #ffffff;
$color-warning: #e24b4b;