// Colours
$font-color: #343434;
$color-100: #68b6da;
$color-300: #309bcf;
$color-400: #0084c4;
$color-600: #006ead;
$color-700: #005693;
$color-grey-300: #ececec;
$color-grey-400: #cbcbcb;
$color-white: #ffffff;



